addict
backcall
backports.functools-lru-cache
cachetools
certifi
cycler
debugpy
decorator
entrypoints
fonttools
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
llvmlite
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service
mmcv
munkres
nest-asyncio
numba
numpy
olefile
opencv-python
packaging
pandas
parso
pexpect
pickleshare
Pillow
pip
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyquaternion
python-dateutil
pytz
PyYAML
pyzmq
scikit-learn
scipy
seaborn
setuptools
Shapely
sip
six
sklearn
terminaltables
threadpoolctl
torch
torchaudio
torchgeometry
torchvision
tornado
tqdm
traitlets
typing-extensions
wcwidth
wheel
yapf
mapping
descartes
opencv-python
